---
title: exticon Helper
description: >
  Generate the appropriate icon based on the extension of the given file.
---
<h1>{{title}}</h1>
<p>{{description}}</p>



{{exticon 'file.png'}}
{{exticon 'file.pdf'}}
{{exticon 'file.doc'}}
{{exticon 'file.txt'}}
{{exticon 'file.csv'}}
{{exticon 'file'}}

