<h1>Pages Collection and Relative Helper</h1>
<p></p>

One: 

{{relative currentPage assets}}

{{#each pages}}
  {{relative ../currentPage.dest 'this.dest'}}
{{/each}}

{{#each pages}}
  {{relative ../currentPage.dest 'dist/file/copy.md'}}
{{/each}}

{{#each pages}}
  {{relative ../currentPage.dest 'dist/assets'}}
{{/each}}

{{#each pages}}
  {{relative ../currentPage.dest 'src/content'}}
{{/each}}